# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-selfcheck.json

# Yapılandırma dosyaları (hassas bilgiler içerebilir)
trakt_config.json
config.ini
*.secret

# IDE dosyaları
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db
